<div class="menu_following panel panel-primary" ng-controller="FollowingController">
    <div class="panel-heading">
        <h3 class="panel-title">Followings</h3>
    </div>
    <ul class="list-group">
    <ul class="list-group">
        <li class="list-group-item">
            <a class='center-block' href="#">
            <img class="avatar_small pull-left img-circle" src="http://fc08.deviantart.net/fs71/f/2014/153/2/e/ken_amada___persona_4_arena_ultimax_avatar_by_darkside989-d7kqn37.png" alt="avatar"/>
            <span class="badge pull-right">14</span>
            Akihiko
            </a>
        </li>

        <li class="list-group-item">
            <a class='center-block' href="#">
                <img class="avatar_small pull-left img-circle" src="http://fc08.deviantart.net/fs71/f/2014/153/2/e/ken_amada___persona_4_arena_ultimax_avatar_by_darkside989-d7kqn37.png" alt="avatar"/>
                <span class="badge pull-right">14</span>
                Akihiko
            </a>
        </li>
    </ul>
    <div class="panel-footer">
       More
    </div>
</div>
</div>