<div class="menu_following panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Followings</h3>
    </div>
    <ul class="list-group">
        <li ng-repeat="follow in follows" class="list-group-item">
            <img class="avatar_small pull-left img-circle" src="http://fc08.deviantart.net/fs71/f/2014/153/2/e/ken_amada___persona_4_arena_ultimax_avatar_by_darkside989-d7kqn37.png" alt="avatar"/>

            <a class='center-block' href="#">
            <span class="badge pull-right">{{follow.count_notifications}}</span>
            {{follow.following.pseudo | capitalize}}
            </a>
        </li>
    </ul>
    <div class="panel-footer">
       More
    </div>
</div>