<div class="menu_profil panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Profil</h3>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="avatar_medium img-circle" src="http://fc08.deviantart.net/fs70/f/2010/113/1/9/SF_Ryu_Avatar_01_by_PimplyPete.png" alt="my_avatar">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{model.pseudo | capitalize}}</h4>
            XXX Posts
        </div>
    </div>
</div>


