<div class="menu_profil panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Profil</h3>
    </div>
    <div class="media">
        <a class="avatar_link pull-left" href="#">
            <img class="avatar_large img-circle" src="{{model.avatar}}" alt="my_avatar">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{model.pseudo | capitalize}}</h4>
            <p class="small">{{user_posts.length}} Posts</p>
            <p class="small">{{followers.length || "No"}} Followers</p>
        </div>
    </div>
</div>


