/*My application less file*/
a {
  color: #6fa818;
  cursor: pointer;
}
.page {
  margin-top: 50px;
}
.edit_input {
  background-color: #e8e8e8;
}
.menu_profil .media-add {
  text-align: center;
  margin-top: -5px;
}
