button.btn {
  border: none !important;
  border-radius: 4px;
  line-height: 1.42857143;
  text-align: center;
  padding: 6px 12px;
}
.btn-success {
  background: #6fa818;
  color: white;
  border-radius: 4px;
}
.btn-success:hover {
  background-color: #5c861b;
}
