.panel {
  margin: 10px 0px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel .panel-heading {
  padding: 10px 15px;
}
.panel .panel-body {
  background-color: #FFF;
  padding: 26px;
}
