.post_filter li{
    display: inline-block;
    float: left;
    width: 30px;
    height: 20px;
    border: blue 1px solid;
    font:2em;
    color:#808080;
    margin-right: 20px;
}
.post_filter li.selected{
    color:#000000;
    font-weight: bolder;
}
.post_filter li:hover{
    color:limegreen;
}