doctype html
html(ng-app="ltkApp")
  head
  //-<!-- build:css /css/application.css -->
    link(rel='stylesheet', href='client/public/css/application.css')
  //-<!-- endbuild -->
  body
    block content
  //-<!-- build:js /js/application.js -->
    script(type='text/javascript', src='client/public/js/application.js')
  //-<!-- endbuild -->
