doctype html
html
  head
    title= title
    link(rel='stylesheet', href="css/application.css")
  body
    header.header
      nav.navbar.navbar-default.navbar-fixed-top
        .container

    block content
    script(type='text/javascript', src='js/website.js')
