extends layout

block content
  .container
    div.row
      div.col-md-5.col-md-offset-3
        div.login_page
          div.panel.login
            div.panel-body
              form.form-signin(role='form', action='/login', method='POST')
                if (messages)
                  div.alert.alert-danger.ltk-login.animated.flipInX(role='alert')
                    each kw in messages
                      .message.info
                        span= kw.error
                label.sr-only(for='inputEmail') Email address
                if (fields)
                  div.form-group
                    label(for="email") Email
                    input#pseudo.form-control(type='text', placeholder='pseudo', name='pseudo' value=fields.pseudo)
                else
                  div.form-group
                    label(for="email") Pseudo
                    input#pseudo.form-control(type='text', placeholder='pseudo', name='pseudo')
                div.form-group
                  a.forgot-password forgot password
                  label(for='inputPassword') Password
                  input#password.form-control(type='password', placeholder='Password', name='password')
                div.form-group.login_button
                  button.btn.btn-lg.btn-success.btn-block(type='submit') Sign in
                div.form-group
                  a Don't have a let them know account yet?

