.edit_avatar{

  position: relative;
  margin-bottom: 20px;
  button{
    position: absolute;
    top: 49px;
    left: 115px;
  }
  h1{
    margin-top: 0px;
  }
  #attached_file{
    display: none;
  }
  .uploadbarcontainer{
    width: 100px;
    margin-top: 10px;
  }
  .uploadbar{
    width: 0%;
    background-color: #4285f4;
    height: 8px;
  }
}
