/**
 ** @description - Implements Stylesheet for login page
*/

.login_page{
  height: 100vh;
  background: url(/images/cover-background.jpg)no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 160px;
  .panel.login{
    border: 1px solid #D8D8D8;
  }
  .forgot-password{
    color: #6FA818;
    float: right;
  }
  .login_button{
    border-bottom: 1px solid #e9eaed;
    padding-bottom: 20px;
  }
}
