<!-- include navbar -->
<div header></div>

<!-- Menu -->
<nav class="menu pull-left">
    <section menuprofil></section>
    <section menufollowings></section>
    <section menutalents></section>
</nav>

<!--Filter-->
<nav class="story_filter after_left_menu ">
   <ul class="navbar navbar-default nav nav-pills">
        <li class="presentation active"><a href="#">All</a></li>
       <li class="presentation"><a href="#">Images</a></li>
        <li class="presentation"><a href="#">Videos</a></li>
       <li class="presentation"><a href="#">Musics</a></li>
    </ul>
</nav>

<!-- Main Content -->
<section class="home_main_content after_left_menu">
    <article ng-repeat="story in stories" class="story">
        <div storypost ng-if="story.verb == 'post'"></div>
        <div storyfollow ng-if="story.verb == 'follow'"></div>
        <div storycomment ng-if="story.verb == 'comment'"></div>
    </article>
</section>

<!-- Footer -->
<footer footer></footer>