<!-- include navbar -->
<div header></div>
<div id="page">
  <div class='container'>
    <div class='row'>
      <div class='col-md-7 col-md-offset-2'>
        <div class='panel'>
          <div class='panel-heading'>
            <input type='text' placeholder='Title' name='title' id='title' ng-model='title'>
          </div>
          <div class='panel-body'>
            <div class='PstC'>
              <!-- dropzone body for media -->
              <div class='dropzonecontainer dropzone'>
                <div class='infos'>
                  <h3>Faire glisser une image ici.</h3>
                  <p>vous pouvez également ...</p>
                  <button type="button" class="btn btn-default">Selectionner l'image à importer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- tag block -->
      <div class='col-md-3'>
        <div class='postaddtalent'>
          <div class='panel' ng-repeat='talent in talents'>
            <div class='panel-heading'>
              <h4>{{talent.name | uppercase}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
