<!-- include navbar -->
<div header></div>
<div id="page">
  <div class='container'>
    <div class='row'>
      <div class='col-md-7 col-md-offset-2'>
          <div class='panel'>
            <div class='panel-body'>
              <div class='PstC'>
                <!-- dropzone body for media -->
                <div class='dropzonecontainer'>
                  <h3>Faire glisser une image ici.</h3>
                  <p>vous pouvez également ...</p>
                  <button type="button" class="btn btn-default">Selectionner l'image à importer</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
